<!doctype html>
<html lang='en' ng-app='appASSS'>
    <head>
        <title>Get focusezzzzzzzzzzd</title>
        <script src="../angular.min.js"></script>
    </head>

    <body ng-controller="SomeController">
        <button   ng-click="clickUnfocused()">
            Not focused
        </button>
        <button vv-asasd  ng-click="clickFocused()">
            I'm very focused!
        </button>
        <div>{{message.text}}</div>
        <script>
                    function SomeController($scope) {
                        $scope.message = {text: 'nothing clicked yet'};

                        $scope.clickUnfocused = function () {
                            $scope.message.text = '22222222222222222222';
                        };

                        $scope.clickFocused = function () {
                            $scope.message.text = '1111111111111111';
                        };
                    }

                    var appModule = angular.module('appASSS', []);

                    appModule.directive('vvAsasd', function () {
                        return {
                            link: function (scope, element, attrs, controller) {
                                element[0].focus();
                            }
                        };
                    });
        </script>
    </body>
</html>
