<!doctype html>
<!--2017-03-06 14:42 -->
<html lang='en' ng-app>
    <head>
        <title>Shopping Cart</title>
        <link href="bootstrap.css" rel="stylesheet">
    </head>

    <body>
        <div ng-controller="CartController">
            <div ng-repeat="aa1 in itemszxc">
                <span>{{aa1.title}}</span>
                <input ng-model="aa1.quantity">
                <span>{{aa1.price| currency}}</span>
                <span>{{aa1.price * aa1.quantity| currency}}</span>
            </div>
            <div>Total: {{bill.total| currency}}</div>
            <div>Discount: {{bill.discount| currency}}</div>
            <div>Subtotal: {{bill.subtotal| currency}}</div>
        </div>
        <script src="../angular.min.js"></script>
        <script>
                function CartController($scope) {
                    $scope.bill = {};

                    $scope.itemszxc = [
                        {title: 'AAA', quantity: 2, price: 2.01},
                        {title: 'BBB', quantity: 3, price: 3.01},
                        {title: 'CCC', quantity: 2, price: 4.01}
                    ];

                    var calculateTotals = function () {
                        var total = 0;
                        for (var i = 0, len = $scope.itemszxc.length; i < len; i++) {
                            total = total + $scope.itemszxc[i].price * $scope.itemszxc[i].quantity;
                        }
                        console.log(total);
                        $scope.bill.total = total;
                        $scope.bill.discount = total > 100 ? 10 : 0;
                        $scope.bill.subtotal = total - $scope.bill.discount;
                    };

                    $scope.$watch('itemszxc', calculateTotals, true);
                }

        </script>
    </body>
</html>
