<!doctype html>
<!--2017-03-06 10:33 -->
<html ng-app>
    <head>
        <script src="../angular.min.js"></script>
    </head>
    <body>
        <div ng-controller="CountController">
            {{c}}-------- {{asd}}
            <button ng-click="asd = 3">Count Three</button>
            <button ng-click='setCount()'>Set count to three</button>
        </div>
        <script>
            function CountController($scope) {
                $scope.setCount = function () {
                    $scope.c = 55;
                };

            }
        </script>
    </body>
</html>
