<!doctype html>
<html ng-app>
    <head>
        <script src="../angular.min.js"></script>
    </head>
    <body>
        <form ng-controller="StartUpController">
            Starting: <input ng-change="computeNeeded222()" ng-model="funding.startingEstimate">
            Recommendation: {{funding.needed}}
            <button ng-click="requestFunding()">Fund my startup!</button>
            <button ng-click="reset()">Reset</button>
        </form>
        <script>
            function StartUpController($scope) {
                $scope.funding = {startingEstimate: 10};
                $scope.computeNeeded = function () {
                    $scope.funding.needed = $scope.funding.startingEstimate * 10;
                };
                /*
                 *  computeNeeded = function () {
                 $scope.funding.needed = $scope.funding.startingEstimate * 10;
                 };
                 //绑定computeNeeded 方法
                 $scope.$watch('funding.startingEstimate', computeNeeded);
                 */
                computeNeeded222 = function () {
                    $scope.funding.needed = $scope.funding.startingEstimate * 10;
                };
                $scope.$watch('funding.startingEstimate', computeNeeded222);


                $scope.requestFunding = function () {
                    window.alert("1111111111111t.");
                };

                $scope.reset = function () {
                    $scope.funding.startingEstimate = 0;
                    $scope.funding.needed = 0;
                };
            }
        </script>
    </body>
</html>
