<html ng-app>
    <head>
        <title>Your Shopping Cart</title>
    </head>
    <body ng-controller='CartController'>
        <h1>Your Shopping Cart</h1>
        <div ng-repeat='itemaas in items2'>
            <span>{{itemaas.title}}</span>
            <input ng-model='itemaas.quantity'>
            <span>{{itemaas.price| currency}}</span>
            <span>{{itemaas.price * itemaas.quantity| currency}}</span>
            <button ng-click="removess($indexasd)">Remove</button>
        </div>
        <script src="../angular.min.js"></script>
        <script>
                        function CartController($scope) {
                            $scope.items2 = [
                                {title: '1111 pots', quantity: 8, price: 3.95},
                                {title: '22222Polka dots', quantity: 17, price: 12.95},
                                {title: '33333Pebbles', quantity: 5, price: 6.95}
                            ];

                            $scope.removess = function (index) {
                                $scope.items2.splice(index, 1);
                            };
                        }
        </script>
    </body>
</html>
